Util/Web References/com.chartlyrics.api/apiv1.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://api.chartlyrics.com/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" targetNamespace="http://api.chartlyrics.com/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">Chartlyrics API version 1.2</wsdl:documentation>
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://api.chartlyrics.com/">
      <s:element name="SearchLyric">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="artist" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="song" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="SearchLyricResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="SearchLyricResult" type="tns:ArrayOfSearchLyricResult" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="ArrayOfSearchLyricResult">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="SearchLyricResult" nillable="true" type="tns:SearchLyricResult" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="SearchLyricResult">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="TrackChecksum" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="TrackId" type="s:int" />
          <s:element minOccurs="0" maxOccurs="1" name="LyricChecksum" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="LyricId" type="s:int" />
          <s:element minOccurs="0" maxOccurs="1" name="SongUrl" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="ArtistUrl" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Artist" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Song" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="SongRank" type="s:int" />
        </s:sequence>
      </s:complexType>
      <s:element name="SearchLyricText">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="lyricText" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="SearchLyricTextResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="SearchLyricTextResult" type="tns:ArrayOfSearchLyricResult" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetLyric">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="lyricId" type="s:int" />
            <s:element minOccurs="0" maxOccurs="1" name="lyricCheckSum" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetLyricResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetLyricResult" type="tns:GetLyricResult" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="GetLyricResult">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="TrackChecksum" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="TrackId" type="s:int" />
          <s:element minOccurs="0" maxOccurs="1" name="LyricChecksum" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="LyricId" type="s:int" />
          <s:element minOccurs="0" maxOccurs="1" name="LyricSong" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="LyricArtist" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="LyricUrl" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="LyricCovertArtUrl" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="LyricRank" type="s:int" />
          <s:element minOccurs="0" maxOccurs="1" name="LyricCorrectUrl" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Lyric" type="s:string" />
        </s:sequence>
      </s:complexType>
      <s:element name="AddLyric">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="trackId" type="s:int" />
            <s:element minOccurs="0" maxOccurs="1" name="trackCheckSum" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="lyric" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="email" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="AddLyricResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="AddLyricResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="SearchLyricDirect">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="artist" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="song" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="SearchLyricDirectResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="SearchLyricDirectResult" type="tns:GetLyricResult" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="ArrayOfSearchLyricResult" nillable="true" type="tns:ArrayOfSearchLyricResult" />
      <s:element name="GetLyricResult" nillable="true" type="tns:GetLyricResult" />
      <s:element name="string" nillable="true" type="s:string" />
    </s:schema>
  </wsdl:types>
  <wsdl:message name="SearchLyricSoapIn">
    <wsdl:part name="parameters" element="tns:SearchLyric" />
  </wsdl:message>
  <wsdl:message name="SearchLyricSoapOut">
    <wsdl:part name="parameters" element="tns:SearchLyricResponse" />
  </wsdl:message>
  <wsdl:message name="SearchLyricTextSoapIn">
    <wsdl:part name="parameters" element="tns:SearchLyricText" />
  </wsdl:message>
  <wsdl:message name="SearchLyricTextSoapOut">
    <wsdl:part name="parameters" element="tns:SearchLyricTextResponse" />
  </wsdl:message>
  <wsdl:message name="GetLyricSoapIn">
    <wsdl:part name="parameters" element="tns:GetLyric" />
  </wsdl:message>
  <wsdl:message name="GetLyricSoapOut">
    <wsdl:part name="parameters" element="tns:GetLyricResponse" />
  </wsdl:message>
  <wsdl:message name="AddLyricSoapIn">
    <wsdl:part name="parameters" element="tns:AddLyric" />
  </wsdl:message>
  <wsdl:message name="AddLyricSoapOut">
    <wsdl:part name="parameters" element="tns:AddLyricResponse" />
  </wsdl:message>
  <wsdl:message name="SearchLyricDirectSoapIn">
    <wsdl:part name="parameters" element="tns:SearchLyricDirect" />
  </wsdl:message>
  <wsdl:message name="SearchLyricDirectSoapOut">
    <wsdl:part name="parameters" element="tns:SearchLyricDirectResponse" />
  </wsdl:message>
  <wsdl:message name="SearchLyricHttpGetIn">
    <wsdl:part name="artist" type="s:string" />
    <wsdl:part name="song" type="s:string" />
  </wsdl:message>
  <wsdl:message name="SearchLyricHttpGetOut">
    <wsdl:part name="Body" element="tns:ArrayOfSearchLyricResult" />
  </wsdl:message>
  <wsdl:message name="SearchLyricTextHttpGetIn">
    <wsdl:part name="lyricText" type="s:string" />
  </wsdl:message>
  <wsdl:message name="SearchLyricTextHttpGetOut">
    <wsdl:part name="Body" element="tns:ArrayOfSearchLyricResult" />
  </wsdl:message>
  <wsdl:message name="GetLyricHttpGetIn">
    <wsdl:part name="lyricId" type="s:string" />
    <wsdl:part name="lyricCheckSum" type="s:string" />
  </wsdl:message>
  <wsdl:message name="GetLyricHttpGetOut">
    <wsdl:part name="Body" element="tns:GetLyricResult" />
  </wsdl:message>
  <wsdl:message name="AddLyricHttpGetIn">
    <wsdl:part name="trackId" type="s:string" />
    <wsdl:part name="trackCheckSum" type="s:string" />
    <wsdl:part name="lyric" type="s:string" />
    <wsdl:part name="email" type="s:string" />
  </wsdl:message>
  <wsdl:message name="AddLyricHttpGetOut">
    <wsdl:part name="Body" element="tns:string" />
  </wsdl:message>
  <wsdl:message name="SearchLyricDirectHttpGetIn">
    <wsdl:part name="artist" type="s:string" />
    <wsdl:part name="song" type="s:string" />
  </wsdl:message>
  <wsdl:message name="SearchLyricDirectHttpGetOut">
    <wsdl:part name="Body" element="tns:GetLyricResult" />
  </wsdl:message>
  <wsdl:portType name="apiv1Soap">
    <wsdl:operation name="SearchLyric">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">Search for lyrics and return the lyricId and lyricChecksum for the GetLyric function</wsdl:documentation>
      <wsdl:input message="tns:SearchLyricSoapIn" />
      <wsdl:output message="tns:SearchLyricSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="SearchLyricText">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">Search for text in lyric and returns the lyricId and lyricChecksum for the GetLyric function</wsdl:documentation>
      <wsdl:input message="tns:SearchLyricTextSoapIn" />
      <wsdl:output message="tns:SearchLyricTextSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetLyric">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">Return lyric with lyric text, correction URL, Lyric rankigs and an URL to the album cover if applicable.</wsdl:documentation>
      <wsdl:input message="tns:GetLyricSoapIn" />
      <wsdl:output message="tns:GetLyricSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="AddLyric">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">Add lyric with lyric text and email.</wsdl:documentation>
      <wsdl:input message="tns:AddLyricSoapIn" />
      <wsdl:output message="tns:AddLyricSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="SearchLyricDirect">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">Search for lyrics by artist and track and directly returns the lyric or lyric add parameters.</wsdl:documentation>
      <wsdl:input message="tns:SearchLyricDirectSoapIn" />
      <wsdl:output message="tns:SearchLyricDirectSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:portType name="apiv1HttpGet">
    <wsdl:operation name="SearchLyric">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">Search for lyrics and return the lyricId and lyricChecksum for the GetLyric function</wsdl:documentation>
      <wsdl:input message="tns:SearchLyricHttpGetIn" />
      <wsdl:output message="tns:SearchLyricHttpGetOut" />
    </wsdl:operation>
    <wsdl:operation name="SearchLyricText">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">Search for text in lyric and returns the lyricId and lyricChecksum for the GetLyric function</wsdl:documentation>
      <wsdl:input message="tns:SearchLyricTextHttpGetIn" />
      <wsdl:output message="tns:SearchLyricTextHttpGetOut" />
    </wsdl:operation>
    <wsdl:operation name="GetLyric">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">Return lyric with lyric text, correction URL, Lyric rankigs and an URL to the album cover if applicable.</wsdl:documentation>
      <wsdl:input message="tns:GetLyricHttpGetIn" />
      <wsdl:output message="tns:GetLyricHttpGetOut" />
    </wsdl:operation>
    <wsdl:operation name="AddLyric">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">Add lyric with lyric text and email.</wsdl:documentation>
      <wsdl:input message="tns:AddLyricHttpGetIn" />
      <wsdl:output message="tns:AddLyricHttpGetOut" />
    </wsdl:operation>
    <wsdl:operation name="SearchLyricDirect">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">Search for lyrics by artist and track and directly returns the lyric or lyric add parameters.</wsdl:documentation>
      <wsdl:input message="tns:SearchLyricDirectHttpGetIn" />
      <wsdl:output message="tns:SearchLyricDirectHttpGetOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="apiv1Soap" type="tns:apiv1Soap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="SearchLyric">
      <soap:operation soapAction="http://api.chartlyrics.com/SearchLyric" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SearchLyricText">
      <soap:operation soapAction="http://api.chartlyrics.com/SearchLyricText" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetLyric">
      <soap:operation soapAction="http://api.chartlyrics.com/GetLyric" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="AddLyric">
      <soap:operation soapAction="http://api.chartlyrics.com/AddLyric" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SearchLyricDirect">
      <soap:operation soapAction="http://api.chartlyrics.com/SearchLyricDirect" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="apiv1Soap12" type="tns:apiv1Soap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="SearchLyric">
      <soap12:operation soapAction="http://api.chartlyrics.com/SearchLyric" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SearchLyricText">
      <soap12:operation soapAction="http://api.chartlyrics.com/SearchLyricText" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetLyric">
      <soap12:operation soapAction="http://api.chartlyrics.com/GetLyric" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="AddLyric">
      <soap12:operation soapAction="http://api.chartlyrics.com/AddLyric" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SearchLyricDirect">
      <soap12:operation soapAction="http://api.chartlyrics.com/SearchLyricDirect" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="apiv1HttpGet" type="tns:apiv1HttpGet">
    <http:binding verb="GET" />
    <wsdl:operation name="SearchLyric">
      <http:operation location="/SearchLyric" />
      <wsdl:input>
        <http:urlEncoded />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SearchLyricText">
      <http:operation location="/SearchLyricText" />
      <wsdl:input>
        <http:urlEncoded />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetLyric">
      <http:operation location="/GetLyric" />
      <wsdl:input>
        <http:urlEncoded />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="AddLyric">
      <http:operation location="/AddLyric" />
      <wsdl:input>
        <http:urlEncoded />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SearchLyricDirect">
      <http:operation location="/SearchLyricDirect" />
      <wsdl:input>
        <http:urlEncoded />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="apiv1">
    <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">Chartlyrics API version 1.2</wsdl:documentation>
    <wsdl:port name="apiv1Soap" binding="tns:apiv1Soap">
      <soap:address location="http://api.chartlyrics.com/apiv1.asmx" />
    </wsdl:port>
    <wsdl:port name="apiv1Soap12" binding="tns:apiv1Soap12">
      <soap12:address location="http://api.chartlyrics.com/apiv1.asmx" />
    </wsdl:port>
    <wsdl:port name="apiv1HttpGet" binding="tns:apiv1HttpGet">
      <http:address location="http://api.chartlyrics.com/apiv1.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>